In [193]:
import pandas as pd

Import all the files

In [194]:
visits = pd.read_csv('visits.csv',
                     parse_dates=[1])
cart = pd.read_csv('cart.csv',
                   parse_dates=[1])
                   
checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
purchase = pd.read_csv('purchase.csv',
                       parse_dates=[1])

Step 1: Inspect the DataFrames using `print` and `head`

In [195]:
visits.head()

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00

In [196]:
cart.head()

                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00

In [197]:
checkout.head()

                                user_id       checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00

In [198]:
purchase.head()

                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00

Step 2: Left merging visits and cart

In [199]:
visits_cart = pd.merge(visits, cart, how="left")
visits_cart.head()

,user_id,visit_time,cart_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT

Step 3: How long is `visits_cart`?

In [200]:
print(len(visits_cart))

2000

Step 4: How many timestamps are null for `cart_time`?

In [201]:
print(len(visits_cart[visits_cart["cart_time"].isnull()]))

1652

Step 5: What percentage only visited?

In [202]:
only_visited = visits_cart[(visits_cart["visit_time"].notnull()) & (visits_cart["cart_time"].isnull())]
only_visited_percentage = round((len(only_visited) / len(visits_cart)) * 100, 2)
print(f"{only_visited_percentage}%")

82.6%

Step 6: What percentage placed a t-shirt in their cart but did not checkout?

In [203]:
cart_checkout = cart.merge(checkout, how="left")
no_checkout_len = len(cart_checkout[cart_checkout["checkout_time"].isnull()])
in_cart_without_checkout_percentage = round((no_checkout_len / len(cart_checkout)) * 100, 2)
print(f"{in_cart_without_checkout_percentage}%")

35.06%

Step 7: Merge it all together

In [204]:
all_data = visits.merge(cart, how="left").merge(checkout, how="left").merge(purchase, how="left")
all_data.head()

,user_id,visit_time,cart_time,checkout_time,purchase_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT,NaT,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT,NaT,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT,NaT,NaT

Step 8: % of users who got to checkout but did not purchase

In [205]:
got_to_checkout_len = len(all_data[all_data["checkout_time"].notnull()])
checkout_without_purchase_len = len(all_data[(all_data["checkout_time"].notnull()) & (all_data["purchase_time"].isnull
                                                                                    ())])
checkout_without_purchase_percentage = round((checkout_without_purchase_len / got_to_checkout_len) * 100, 2)
print(f"{checkout_without_purchase_percentage}%")

24.55%

Step 9: check each part of the funnel, let's print all 3 of them again

In [206]:
print(f"{only_visited_percentage}% of users who visited the page did not add a t-shirt to their cart")
print(f"{in_cart_without_checkout_percentage}% of users who added a t-shirt to their cart did not checkout")
print(f"{checkout_without_purchase_percentage}% of users who made it to checkout did not purchase a shirt")

82.6% of users who visited the page did not add a t-shirt to their cart
35.06% of users who added a t-shirt to their cart did not checkout
24.55% of users who made it to checkout did not purchase a shirt

*The weakest part of the funnel is clearly getting a person who visited the site to add a t-shirt to their cart.
Once they've added a t-shirt to their cart it is fairly likely they end up purchasing it.
A suggestion could be to make the add-to-cart button more prominent on the front page.*


Step 10: adding new column

In [207]:
all_data['time_to_purchase'] = all_data["purchase_time"] - all_data["visit_time"]

Step 11: examine the results

In [208]:
all_data.sample(frac=0.1)

,user_id,visit_time,cart_time,checkout_time,purchase_time,time_to_purchase
1829,07b37c39-6d65-4d19-883c-e9526f7e87ed,2017-01-09 04:22:00,NaT,NaT,NaT,NaT
1930,5caa2777-06ca-4873-933b-49fc0ca7323f,2017-11-22 14:49:00,NaT,NaT,NaT,NaT
1215,e4bdd29c-ee96-4d1e-936e-4aac5995c6f7,2017-06-07 02:30:00,2017-06-07 02:50:00,NaT,NaT,NaT
454,7351337c-62a2-43ba-ab52-4356ba7a8dda,2017-01-12 16:35:00,NaT,NaT,NaT,NaT
1302,c58df424-1dbe-48f1-a965-59f422035fc1,2017-11-17 22:23:00,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...
47,27356916-b752-4b95-bc8c-f5901d0da968,2017-04-27 12:34:00,NaT,NaT,NaT,NaT
14,486480e2-98c3-4d51-8f4b-b1c07228ce84,2017-01-27 16:34:00,2017-01-27 16:44:00,2017-01-27 17:10:00,2017-01-27 17:12:00,0 days 00:38:00
1077,23c51e0a-b6e9-4fe4-ae0c-a9b83af46155,2017-08-13 22:28:00,NaT,NaT,NaT,NaT
764,8d37bc7d-4b9d-429e-962e-209e07de910b,2017-10-15 21:47:00,NaT,NaT,NaT,NaT
1082,f3a03cb5-18ba-4fe1-8995-a37ddc87bb3a,2017-07-05 12:05:00,NaT,NaT,NaT,NaT

Step 12: average time to purchase

In [209]:
print(all_data["time_to_purchase"].mean())

0 days 00:43:12.380952380